* {
  box-sizing: border-box;
  scrollbar-width: none;
}

@font-face {
  font-family: shippori;
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf);
}
@font-face {
  font-family: ship-bold;
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Bold.ttf);
}
@font-face {
  font-family: gidugu;
  src: url(../fonts/Gidugu/Gidugu-Regular.ttf);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
