* {
  box-sizing: border-box;
  scrollbar-width: none;
}

@font-face {
  font-family: shippori;
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf);
}
@font-face {
  font-family: ship-bold;
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Bold.ttf);
}
@font-face {
  font-family: gidugu;
  src: url(../fonts/Gidugu/Gidugu-Regular.ttf);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: shippori;
  justify-content: center;
  margin: 0;
  background-image: url("../img/background-basilic.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-size: 1.75rem;
  color: #3d4935;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-family: shippori;
  color: #3d4935;
  font-size: 1.375rem;
}

header {
  display: flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #dedfda;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000; /* header par dessus tout */
}

.logo {
  width: 200px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 128px;
  flex: 1;
}

.menu-nav nav ul li a {
  text-decoration: none;
  color: #3d4935;
  font-size: 30px;
}

.menu-nav nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: gidugu;
}

.menu-nav a:hover {
  color: #949c81;
}

.menu-nav a.active {
  color: #949c81;
}

.separation {
  width: 2px;
  background-color: #3d4935;
  height: 30px;
  margin: auto 15px;
  display: inline-block;
  height: 40px;
}

.btn-commande {
  display: flex;
  align-items: center;
  width: 222px;
  height: 41px;
  margin-top: 8px;
  color: white !important;
  padding-left: 8px;
  background-color: #3d4935;
  text-decoration: none;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 60px;
  transition: background 0.3s ease;
  font-size: 1.875rem;
}

.btn-commande i.fa-solid {
  font-size: 24px;
  color: white;
}

.btn-principal {
  display: flex;
  gap: 20px;
  height: 52px;
  align-items: center;
  white-space: nowrap;
  margin-top: 12px;
}

.btn-principal a {
  color: white;
  text-decoration: none;
  font-family: gidugu;
  font-size: 1.5rem;
  align-items: center;
  padding: 1px 40px;
  background-color: #3d4935;
  border-radius: 60px;
}

.btn-principal a:hover {
  background-color: #949c81;
  transition: background 0.3s ease;
}

.btn-commande:hover {
  color: white !important;
  background-color: #949c81;
}

.btn-commande.active {
  color: white !important;
  background-color: #949c81;
}

/* Page index (acceuil) */

.principale {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.principale p {
  margin-top: 0;
}

.image-principale img {
  border-radius: 32px;
}

.titre-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;
}

.titre-principal h2 {
  text-align: left;
  margin-bottom: 8px;
}

.principale h3 {
  margin-bottom: 0;
}

.logo-principale {
  width: 380px;
}

figure {
  font-size: 0.875rem;
  text-align: center;
}

/* Témoignages Clients */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}

.cards > div {
  flex: 1 1 calc(33.333% - 20px);
}

.temoignages {
  display: flex;
  flex-direction: column;
}

.temoignages p {
  font-size: 0.875rem;
  text-align: left;
}

.temoignages h2,
h3 {
  text-align: left;
}

.commentaire-personne-1 {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 20px;
  width: calc(33.333% - 20px);
}

.commentaire-personne-1 p,
.commentaire-personne-1 h3 {
  color: #3d4935;
}

.commentaire-personne-2 {
  background-color: #949c81;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 20px;
  width: calc(33.333% - 20px);
}

.commentaire-personne-2 p,
.commentaire-personne-2 h3 {
  color: white;
}

/* Petit header dans les cards */

.commentaire-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.commentaire-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.commentaire-header p {
  font-size: 1.25rem;
}

/* Page réservation (formulaire) */

fieldset {
  width: 80%;
  margin: auto;
  margin-top: 12px;
  background-color: #949c812e;
  border-radius: 20px;
  padding: 0px 40px 40px 40px;
  border: 2px solid rgb(61, 73, 53);
}

.fieldset-flex {
  display: flex;
  margin-bottom: 40px;
}

.info-facultatif {
  display: flex;
  margin-left: 40px;
  justify-content: flex-start;
  gap: 8px;
  flex-direction: column;
}

.info-obligatoire {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  width: 45%;
}

input {
  border: solid 1px;
  accent-color: #42d50d;
  border-radius: 8px;
  padding: 6px;
}

input#txt-email {
  width: 100%;
}

input:focus {
  border: 1px solid rgb(61, 73, 53);
  outline: none;
  background-color: rgb(61, 73, 53, 0.2);
  border: solid 1px;
}

::placeholder {
  color: rgb(203, 203, 203);
}

label {
  display: block;
  color: #333;
  padding-right: 10px;
  padding-bottom: 4px;
  margin-top: 20px;
}

label.number {
  display: inline-block;
}

legend {
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

span {
  color: red;
  font-weight: bolder;
}

select {
  padding: 4px;
  border-radius: 8px;
  border: 1px solid rgb(61, 73, 53);
}

select:focus {
  border-color: rgb(61, 73, 53);
  outline: none;
}

select:hover {
  background-color: rgb(61, 73, 53);
  color: #fff;
}

textarea {
  color: #3d4935;
  font-family: shippori;
  padding: 4px;
}

.required {
  color: red;
}

.nom-prenom {
  display: inline-flex;
  flex-direction: row;
  gap: 60px;
}

.phone {
  margin-top: 20px;
}

.date-heure {
  display: flex;
  gap: 60px;
}

.heure {
  margin-bottom: 20px;
}

.emplacement {
  margin-top: 30px;
}

.radio {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 8px;
}

.infolettre {
  margin-top: 20px;
}

.soumettre {
  margin-top: 40px;
}

.submit {
  color: white !important;
  background-color: #3d4935;
  text-decoration: none;
  padding: 0;
  border-radius: 60px;
  transition: background 0.3s ease;
}

.submit {
  width: 100%;
  font-family: gidugu;
  font-size: 28px;
}

.submit:hover {
  background-color: #949c81;
  color: #3d4935;
}

/* Page confirmation */

main.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carte {
  background-color: white;
  padding: 40px;
  max-width: fit-content;
  border-radius: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carte h1 {
  text-align: center;
}

.carte p {
  color: rgb(109, 109, 109);
  text-align: center;
}

/* Page Restaurant */

.container-grid {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 200px;
  grid-gap: 24px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.container-grid > div {
  background-color: #f1f1f1;
  font-size: 30px;
  text-align: center;
  border-radius: 24px;
}

.container-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.item1 {
  grid-column: 1 / span 1;
}

.item2 {
  grid-column: 2 / span 1;
}

.item3 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.item4 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 3 / span 1;
}

.item6 {
  grid-column: 4 / span 1;
}

.contact-box {
  display: flex;
  justify-content: space-around;
  background-color: #949c8177;
  color: #3d4935;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  gap: 45px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-map {
  overflow: hidden;
  border-radius: 15px;
}

.icone-h3 {
  display: flex;
  align-items: center;
}

.adresse p,
.tel p,
.mail p {
  margin-top: 0px;
}

.mail a,
.tel a {
  color: #3d4935;
  text-decoration: none;
}

.mail a:hover,
.tel a:hover {
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Page ma commande (tableau) */

table {
  max-width: 640px;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 36px;
}

th,
td {
  padding: 12px;
}

th.nom-plat,
th.prix,
th.quantite {
  background-color: #949c81;
  text-align: center;
  font-family: ship-bold;
}

th.nom-plat {
  text-align: left;
  color: white;
  font-weight: 600;
  padding-right: 0;
}

th.prix,
th.quantite {
  text-align: center;
  color: white;
  font-weight: 600;
  padding-left: 0;
}

td.nom-plat {
  text-align: left;
  color: #3d4935;
}

td.prix,
td.quantite {
  text-align: center;
  vertical-align: middle;
  color: #3d4935;
}

tr.ligne-grise {
  background-color: #949c817e;
}

.commande h3 {
  font-size: 24px;
  color: #3d4935;
}

.commande-paiement {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

.carte-paiement {
  background-color: #949c81;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin-top: 80px;
  padding: 20px;
  width: 400px;
  max-height: 450px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.carte-paiement h2 {
  text-align: left;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
}

.button-commande {
  display: flex;
  gap: 20px;
  height: 52px;
  align-items: center;
  white-space: nowrap;
}

.button-commande a {
  color: white;
  text-decoration: none;
  font-family: gidugu;
  font-size: 24px;
  align-items: center;
  padding: 1px 40px;
  background-color: #3d4935;
  border-radius: 60px;
}

.button-commande a:hover {
  background-color: white;
  color: #3d4935;
  border: 2px solid rgb(61, 73, 53);
}

th.facture,
td.prix-facture {
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.facture {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}

td.prix-facture {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

tbody .total th {
  font-size: 24px;
  font-weight: bold;
}

tbody .total td.prix-facture {
  font-size: 18px;
}

td.separator {
  border-top: 1px solid white;
  padding: 5px 0;
}

footer {
  display: flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #dedfda;
  padding-bottom: 20px;
}

footer p {
  color: gray;
  font-size: 1.5rem;
  font-family: gidugu;
  margin-bottom: 12px;
  margin-top: 12px;
}

.footer-haut {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.fa-brands {
  font-size: 28px;
  color: #3d4935;
  margin-left: 1.75rem;
}

.fa-solid {
  font-size: 1.75rem;
  color: #3d4935;
  margin-right: 14px;
}

.fa-solid:hover {
  color: #949c81;
}

.fa-brands:hover {
  color: #949c81;
}

.footer-bas {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .cards > div {
    flex: 1 1 calc(50% - 15px);
  }

  .fieldset-flex {
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px 20px 40px 20px;
  }

  .info-facultatif {
    width: 70%;
    margin-left: 100px;
  }
}

@media screen and (max-width: 570px) {
  body {
    background-image: none;
  }

  .principale {
    flex-direction: column-reverse;
    margin-top: -280px;
    gap: 20px;
    align-items: center;
  }

  .titre-principal {
    margin-top: 8px;
    margin-bottom: 20px;
  }

  .titre-principal img {
    width: 90%;
  }

  .image-principale img {
    position: relative;
    border-radius: 0px;
  }

  .image-principale figure {
    display: none;
  }

  .principale h2,
  p {
    text-align: center;
  }

  .logo-principale {
    width: 100%;
  }

  .btn-principal {
    justify-content: space-evenly;
  }

  .cards > div {
    flex: 1 1 calc(100%);
  }

  .footer-haut,
  .footer-bas {
    flex-direction: column;
    align-items: center;
  }

  .fieldset-flex {
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px 20px 40px 20px;
  }

  legend {
    text-align: center;
  }

  .info-facultatif {
    width: auto;
    margin: 8px 8px 0 12px;
  }
}
