* {
  box-sizing: border-box;
  scrollbar-width: none;
}

@font-face {
  font-family: shippori;
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf);
}
@font-face {
  font-family: ship-bold;
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Bold.ttf);
}
@font-face {
  font-family: gidugu;
  src: url(../fonts/Gidugu/Gidugu-Regular.ttf);
}

html,
body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: shippori;
  margin: 0;
  background-image: url("../img/background-basilic.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h2 {
  font-size: 2rem;
  color: #3d4935;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-family: shippori;
  color: #3d4935;
  font-size: 1.375rem;
}

header {
  display: flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #dedfda;
  position: fixed;
  width: 100%;
}

.logo img {
  width: 200px;
}

header .container {
  display: flex;
  justify-content: space-between;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 128px;
  flex: 1;
}

/* Menu burger avec un checbox suivi d'un tuto */

.burger-checkbox {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1100;
}

.burger .bar {
  display: block;
  width: 30px;
  height: 3px;
  background: #3d4935;
  transition: 0.3s ease-in-out;
}

.menu-nav {
  margin-top: 40px;
}

.menu-nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.menu-nav a {
  text-decoration: none;
  color: #3d4935;
  font-size: 1.2rem;
}

/* Bouton commande */

.btn-commande {
  padding: 10px 20px;
  background: #3d4935;
  color: white;
  border-radius: 20px;
}

.menu-nav nav ul li a {
  text-decoration: none;
  color: #3d4935;
  font-size: 1.875rem;
}

.menu-nav nav ul {
  font-family: gidugu;
}

.menu-nav a:hover {
  color: #949c81;
}

.menu-nav a.active {
  color: #949c81;
  text-decoration: underline;
}

.separation {
  width: 2px;
  background-color: #3d4935;
  height: 30px;
  margin: auto 15px;
  display: inline-block;
  height: 40px;
}

.btn-commande {
  display: flex;
  align-items: center;
  width: 222px;
  height: 41px;
  margin-top: 8px;
  color: white !important;
  background-color: #3d4935;
  text-decoration: none;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 60px;
  transition: background 0.3s ease;
  font-size: 1.875rem;
}

.btn-commande i.fa-solid {
  font-size: 1.5rem;
  color: white;
}

.btn-principal {
  display: flex;
  gap: 20px;
  height: 52px;
  align-items: center;
  white-space: nowrap;
  margin-top: 12px;
}

.btn-principal a {
  color: white;
  text-decoration: none;
  font-family: gidugu;
  font-size: 1.5rem;
  align-items: center;
  padding: 1px 40px;
  background-color: #3d4935;
  border-radius: 60px;
}

.btn-principal a:hover {
  background-color: #949c81;
  transition: background 0.3s ease;
}

.btn-commande:hover {
  color: white !important;
  background-color: #949c81;
}

.btn-commande.active {
  color: white !important;
  text-decoration: none !important;
  background-color: #949c81;
}

/* Page index (acceuil) */

.principale {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.principale p {
  margin-top: 0;
}

.image-principale img {
  border-radius: 32px;
}

.hide-image {
  display: none;
}

.titre-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;
}

.titre-principal h2 {
  text-align: left;
  margin-bottom: 8px;
  white-space: nowrap;
}

.principale h3 {
  margin-bottom: 0;
}

.logo-principale {
  width: 75%;
}

figure {
  font-size: 0.875rem;
  text-align: center;
}

/* Témoignages Clients */

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
}

.cards > div {
  flex-basis: calc(33.333% - 20px);
  flex-grow: 1;
}

.temoignages {
  display: flex;
  flex-direction: column;
}

.temoignages p {
  font-size: 0.875rem;
  text-align: left;
}

.temoignages h2,
h3 {
  text-align: left;
}

.commentaire-personne-1 {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 20px;
  width: calc(33.333% - 20px);
}

.commentaire-personne-1 p,
.commentaire-personne-1 h3 {
  color: #3d4935;
}

.commentaire-personne-2 {
  background-color: #949c81;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 20px;
  width: calc(33.333% - 20px);
}

.commentaire-personne-2 p,
.commentaire-personne-2 h3 {
  color: white;
}

/* Petit header dans les cards */

.commentaire-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.commentaire-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
}

.commentaire-header p {
  font-size: 1.25rem;
}

/* Page réservation (formulaire) */

fieldset {
  width: 80%;
  margin: auto;
  margin-top: 12px;
  background-color: #949c812e;
  border-radius: 20px;
  padding: 0px 40px 40px 40px;
  border: 2px solid #3d4935;
}

.fieldset-flex {
  display: flex;
  margin-bottom: 40px;
}

.info-facultatif {
  display: flex;
  margin-left: 40px;
  justify-content: flex-start;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
}

.info-obligatoire {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  width: 45%;
}

input {
  border: solid 1px;
  accent-color: #42d50d;
  border-radius: 8px;
  padding: 6px;
}

input#txt-email {
  width: 100%;
}

input:focus {
  border: 1px solid #3d4935;
  outline: none;
  background-color: #3d493533;
  border: solid 1px;
}

::placeholder {
  color: rgb(203, 203, 203);
}

label {
  display: block;
  color: #333;
  padding: 0 10px 8px 0;
  margin-top: 20px;
}

label.number {
  display: inline-block;
}

legend {
  padding: 0 8px 4px;
  background-color: #dedfda;
  border-radius: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

select {
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #3d4935;
}

select:focus {
  border-color: #3d4935;
  outline: none;
}

select:hover {
  background-color: #3d4935;
  color: #fff;
}

textarea {
  color: #3d4935;
  font-family: shippori;
  padding: 4px;
}

.required {
  color: red;
}

.nom-prenom {
  display: inline-flex;
  flex-direction: row;
  gap: 60px;
}

.infolettre {
  margin-top: 20px;
}

.date-heure {
  display: flex;
  gap: 60px;
}

.heure {
  margin-bottom: 20px;
}

.emplacement {
  margin-top: 30px;
}

.radio {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 8px;
}

.submit {
  color: white;
  background-color: #3d4935;
  padding: 0;
  margin-top: 40px;
  border-radius: 60px;
  transition: background 0.3s ease;
}

.submit {
  width: 100%;
  font-family: gidugu;
  font-size: 1.75rem;
}

.submit:hover {
  background-color: #949c81;
}

/* Page confirmation */

body.confirmation-page {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.confirmation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.logo-confirmation img {
  width: 200px;
  display: block;
  margin: 60px auto 0;
  padding: 0;
}

.carte h1 {
  text-align: center;
  color: #3d4935;
}

.carte p {
  color: #808080;
  text-align: center;
}

/* Page Restaurant */

.container-grid {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 30vh;
  grid-gap: 16px;
  margin: 40px 0 60px 0;
}

.container-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.item1 {
  grid-column: 1 / span 1;
}

.item2 {
  grid-column: 2 / span 1;
}

.item3 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.item4 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 3 / span 1;
}

.item6 {
  grid-column: 4 / span 1;
}

.contact-box {
  display: flex;
  justify-content: space-around;
  background-color: #949c8177;
  color: #3d4935;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  gap: 45px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-map {
  overflow: hidden;
  border-radius: 15px;
}

.icone-h3 {
  display: flex;
  align-items: center;
}

address {
  font-style: normal;
}

.adresse p,
.tel p,
.mail p {
  margin-top: 0px;
  white-space: nowrap;
}

.mail a,
.tel a {
  color: #3d4935;
  text-decoration: none;
}

.mail a:hover,
.tel a:hover {
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Page ma commande (tableau) */

table {
  margin: 10px 0 36px 0;
}

th,
td {
  padding: 12px;
}

th.nom-plat,
th.prix,
th.quantite {
  background-color: #949c81;
  text-align: center;
  font-family: ship-bold;
}

td.prix,
td.prix-facture {
  white-space: nowrap;
}

th.nom-plat {
  text-align: left;
  color: white;
  font-weight: 600;
  padding-right: 0;
  font-size: 1.125rem;
}

th.prix,
th.quantite {
  text-align: center;
  color: white;
  font-weight: 600;
  padding-left: 0;
  font-size: 1.125rem;
}

td.nom-plat {
  text-align: left;
  color: #3d4935;
}

td.prix,
td.quantite {
  text-align: center;
  vertical-align: middle;
  color: #3d4935;
}

tr.ligne-grise {
  background-color: #949c817e;
}

.commande h3 {
  font-size: 1.5rem;
  color: #3d4935;
}

.commande-paiement {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

.carte-paiement {
  background-color: #949c81;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin: 80px 0 40px;
  padding: 20px;
  width: 30%;
  max-height: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.carte-paiement h2 {
  text-align: left;
  color: white;
  margin: 10px 0;
  font-size: 2rem;
}

.button-commande {
  display: flex;
  gap: 20px;
  height: 52px;
  align-items: center;
  white-space: nowrap;
}

.button-commande a {
  color: white;
  text-decoration: none;
  font-family: gidugu;
  font-size: 1.5rem;
  align-items: center;
  padding: 1px 40px;
  background-color: #3d4935;
  border-radius: 60px;
}

.button-commande a:hover {
  background-color: white;
  color: #3d4935;
  border: 2px solid #3d4935;
}

th.facture,
td.prix-facture {
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.facture {
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  white-space: nowrap;
}

td.prix-facture {
  text-align: right;
  font-size: 1.125rem;
  font-weight: bold;
}

tbody .total th {
  font-size: 1.5rem;
  font-weight: bold;
}

tbody .total td.prix-facture {
  font-size: 1.125rem;
}

td.separator {
  border-top: 1px solid white;
  padding: 5px 0;
}

footer {
  display: flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #dedfda;
  padding-bottom: 20px;
}

footer p {
  color: gray;
  font-size: 1.5rem;
  font-family: gidugu;
  margin: 12px 0;
}

.footer-haut {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.fa-brands {
  font-size: 1.75rem;
  color: #3d4935;
  margin-left: 1.75rem;
}

.fa-solid {
  font-size: 1.75rem;
  color: #3d4935;
  margin-right: 10px;
}

.fa-solid:hover {
  color: #949c81;
}

.fa-brands:hover {
  color: #949c81;
}

.footer-bas {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}

a.courriel {
  text-decoration: none;
  color: #808080;
}

a.courriel:hover {
  text-decoration: underline;
}

a.icones-reseaux {
  text-decoration: none;
}

.ligne {
  display: none;
}

@media screen and (max-width: 960px) {
  .burger {
    display: flex;
    justify-content: center;
  }

  .menu-nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #dedfda;
    text-align: center;
    padding: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .burger-checkbox:checked ~ .menu-nav {
    max-height: 300px;
    padding: 20px 0;
  }

  .burger-checkbox:checked + .burger .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger-checkbox:checked + .burger .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-checkbox:checked + .burger .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-nav ul {
    flex-direction: column;
    gap: 15px;
  }

  .menu-nav nav ul {
    align-items: center;
  }

  .separation {
    display: none;
  }

  .principale h2 {
    text-align: center;
    white-space: wrap;
  }

  .principale p {
    text-align: center;
  }

  .image-principale img {
    width: 400px;
  }

  .cards > div {
    flex-basis: calc(50% - 15px);
  }

  .commentaire-header {
    flex-direction: row;
  }

  .commentaire-header p,
  .commentaire-personne-1 h3,
  .commentaire-personne-2 h3,
  .commentaire-personne-1 p,
  .commentaire-personne-2 p {
    text-align: left;
    margin: 8px;
  }

  .fieldset-flex {
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px 20px 40px 20px;
  }

  .info-facultatif {
    width: 70%;
    margin-left: 100px;
  }
  .info-facultatif h3 {
    margin: 40px 0 0;
  }

  .item1 {
    grid-column: 1 / span 1;
  }

  .item2 {
    grid-column: 2 / span 1;
  }

  .item3 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
  }

  .item4 {
    grid-column: 1 / span 4;
    grid-row: 4 / span 2;
  }

  .item5 {
    grid-column: 3 / span 1;
  }

  .item6 {
    grid-column: 4 / span 1;
  }
  .container-grid {
    grid-gap: 12px;
  }

  .carte-paiement {
    width: 40%;
  }
}

@media screen and (max-width: 570px) {
  .principale {
    flex-direction: column-reverse;
    margin-top: -280px;
    gap: 20px;
    align-items: center;
  }

  .titre-principal {
    margin: 8px 0 20px;
  }

  .titre-principal img {
    width: 90%;
  }

  .image-principale img {
    border-radius: 0px;
    max-width: none;
    width: 120%;
    margin-left: -10%;
  }

  .image-principale figure {
    display: none;
  }

  .logo-principale {
    width: 100%;
  }

  .btn-principal {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .ligne {
    display: block;
    margin-top: 40px;
  }

  .temoignages h2 {
    text-align: center;
  }

  .btn-principal {
    justify-content: space-evenly;
  }

  .cards > div {
    flex: 1 1 calc(100%);
  }

  .commentaire-header {
    flex-direction: row;
  }

  .commentaire-header p,
  .commentaire-personne-1 h3,
  .commentaire-personne-2 h3,
  .commentaire-personne-1 p,
  .commentaire-personne-2 p {
    text-align: left;
    margin: 8px;
  }

  .footer-haut,
  .footer-bas {
    flex-direction: column;
    align-items: center;
  }

  .reseaux-txt {
    display: block;
    text-align: center;
  }

  .footer-bas p {
    margin: 0;
  }

  .fieldset-flex {
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px 20px 40px 20px;
  }

  .nom-prenom,
  .date-heure {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  input#txt-prenom,
  input#txt-nom,
  input#txt-phone {
    width: 100%;
  }

  legend {
    text-align: center;
  }

  .info-facultatif {
    width: auto;
    margin: 8px 8px 0 12px;
  }

  .info-facultatif h3 {
    margin-bottom: 0px;
  }

  .item1 {
    grid-column: 1 / span 3;
  }

  .item2 {
    grid-column: 4 / span 3;
  }

  .item3 {
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
  }

  .item4 {
    grid-column: 1 / span 6;
    grid-row: 5 / span 2;
  }

  .item5 {
    grid-column: 1 / span 3;
  }

  .item6 {
    grid-column: 4 / span 3;
  }
  .container-grid {
    grid-gap: 12px;
  }

  .container-grid img {
    border-radius: 16px;
  }

  .contact-box {
    flex-direction: column;
    text-align: center;
  }

  .icone-h3 {
    align-items: center;
    justify-content: center;
  }

  .commande-paiement {
    flex-direction: column;
  }
  .carte-paiement {
    margin: 0 auto 40px auto;
    display: block;
    width: 90%;
  }
  .carte-paiement h2 {
    text-align: center;
  }
  .button-commande {
    justify-content: space-around;
  }
}
