* {
  box-sizing: border-box;
  scrollbar-width: none;
}

@font-face {
  font-family: shippori;
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf);
}
@font-face {
  font-family: ship-bold;
  src: url(../fonts/Shippori_Mincho/ShipporiMincho-Bold.ttf);
}
@font-face {
  font-family: gidugu;
  src: url(../fonts/Gidugu/Gidugu-Regular.ttf);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: shippori;
  justify-content: center;
  margin: 0;
}

.page-index,
.page-reservation,
.page-commande,
.page-reservation,
.page-restaurant {
  background-image: url("../img/background-basilic.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  color: #3a4027;
}

h3 {
  font-size: 18px;
}

p {
  font-family: shippori;
  color: #3a4027;
  font-size: 22px;
}

header {
  display: flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #dedfda;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000; /* header par dessus tout */
}

.logo {
  width: 200px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding-top: 128px;
}

.menu-nav nav ul li a {
  text-decoration: none;
  color: #3a4027;
  font-size: 30px;
}

.menu-nav nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: gidugu;
}

.menu-nav a:hover {
  color: #949c81;
}

.menu-nav a.active {
  color: #949c81;
}

.separation {
  width: 2px;
  background-color: #3d4935;
  height: 30px;
  margin: auto 15px;
  display: inline-block;
  height: 40px;
}

.btn-commande {
  display: flex;
  align-items: center;
  width: 222px;
  height: 41px;
  margin-top: 8px;
  color: white !important;
  padding-left: 8px;
  background-color: #3d4935;
  text-decoration: none;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 60px;
  transition: background 0.3s ease;
  font-size: 30px;
}

.btn-commande i.fa-solid {
  font-size: 24px;
  color: white;
}

.button {
  display: flex;
  gap: 20px;
}

.button a {
  color: white;
  text-decoration: none;
  font-family: gidugu;
  font-size: 24px;
  align-items: center;
  padding: 1px 40px;
  background-color: #3d4935;
  border-radius: 60px;
}

.button a:hover {
  background-color: #949c81;
}

.btn-commande:hover {
  color: white !important;
  background-color: #949c81;
}

.btn-commande.active {
  color: white !important;
  background-color: #949c81;
}

/* Page index (acceuil) */

.image-principale img {
  border-radius: 32px;
}

.principale {
  display: flex;
  gap: 90px;
  margin-top: 80px;
}

.principale p {
  margin-top: 0;
}

.principale h3 {
  margin-bottom: 0;
}

.logo-principale {
  width: 380px;
}

figure {
  text-align: center;
}

/* Section clients sastisfactions */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.commentaires p {
  font-size: 16px;
  text-align: center;
}

.commentaires h3 {
  text-align: center;
}

.commentaire-personne {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 20px;
}

.commentaire-personne-2,
.commentaire-personne-4,
.commentaire-personne-6 {
  background-color: #949c81;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 20px;
}

.commentaire-personne-2 p,
.commentaire-personne-4 p,
.commentaire-personne-6 p {
  color: white;
}

.commentaire-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.commentaire-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.commentaire-header p {
  font-size: 20px;
  margin: 0;
}

.commentaires img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

fieldset {
  max-width: 600px;
  margin: 40px auto;
  background-color: #949c812e;
  border-radius: 20px;
  padding: 0px 40px 40px 40px;
  margin-bottom: 40px;
  border: 2px solid rgb(61, 73, 53);
  justify-content: center;
}

input {
  border: solid 1px;
  accent-color: #42d50d;
  border-radius: 8px;
  padding: 6px;
}

input:focus {
  border: 1px solid rgb(61, 73, 53);
  outline: none;
  background-color: rgb(61, 73, 53, 0.2);
  border: solid 1px;
}

label {
  display: block;
  color: #333;
  padding-right: 10px;
  padding-bottom: 4px;
  margin-top: 20px;
}

label.number {
  display: inline-block;
}

legend {
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

span {
  color: red;
  font-weight: bolder;
}

select {
  padding: 4px;
  border-radius: 8px;
  border: 2px solid rgb(61, 73, 53);
}

select:focus {
  border-color: rgb(61, 73, 53);
  outline: none;
}

select:hover {
  background-color: rgb(61, 73, 53);
  color: #fff;
}

textarea {
  color: #3d4935;
  font-family: shippori;
  padding: 4px;
}

.info-obligatoire {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.required {
  color: red;
}

.nom-prenom {
  display: inline-flex;
  flex-direction: row;
  gap: 60px;
}

.phone {
  margin-top: 20px;
}

.date-heure {
  display: flex;
  gap: 60px;
}

.heure {
  margin-bottom: 20px;
}

.emplacement {
  margin-top: 30px;
}

.radio {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 8px;
}

.infolettre {
  margin-top: 20px;
}

.soumettre {
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

.submit {
  font-family: shippori;
  font-size: 1rem;
}

.submit {
  width: 100%;
  color: white;
  background-color: rgb(61, 73, 53);
}

.submit:hover {
  background-color: #949c81;
  color: #3d4935;
}

/* Page confirmation */

main.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  padding: 40px;
  max-width: fit-content;
  border-radius: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card h1 {
  text-align: center;
}

.card p {
  color: rgb(109, 109, 109);
  text-align: center;
}

/* Page Restaurant */

.container-grid {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 200px;
  grid-gap: 24px;
  padding: 10px;
}
.container-grid > div {
  background-color: #f1f1f1;
  font-size: 30px;
  text-align: center;
  border-radius: 24px;
}

.container-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.item1 {
  grid-column: 1 / span 1;
}

.item2 {
  grid-column: 2 / span 1;
}

.item3 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.item4 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 3 / span 1;
}

.item6 {
  grid-column: 4 / span 1;
}

/* Page ma commande (tableau) */

table {
  max-width: 640px;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 36px;
}

th,
td {
  padding: 12px;
}

th.nom-plat,
th.prix,
th.quantite {
  background-color: #dadada;
  text-align: center;
  font-family: ship-bold;
}

th.nom-plat {
  text-align: left;
}

td.nom-plat {
  text-align: left;
}

td.prix,
td.quantite {
  text-align: center;
  vertical-align: middle;
}

tr.ligne-grise {
  background-color: #f2f2f2;
}

.commande-paiement {
  display: flex;
  justify-content: space-between;
}

.carte-paiement {
  background-color: #dadada;
  margin-top: 58px;
  padding: 20px;
  width: 400px;
  height: 398px;
}

.carte-paiement h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.facture {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}

td.prix-facture {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

tbody .total th {
  font-size: 24px;
  font-weight: bold;
}

tbody .total td.prix-facture {
  font-size: 18px;
}

td.separator {
  border-top: 1px solid black;
  padding: 5px 0;
}

footer {
  border-bottom: solid 1px #949c81;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #dedfda;
  padding-bottom: 20px;
  display: flex;
}

footer p {
  color: gray;
  font-size: 24px;
  font-family: gidugu;
  margin-top: 0;
}

.footer-1 {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
  padding-top: 20px;
}

.fa-brands {
  font-size: 28px;
  color: #3d4935;
  margin-left: 18px;
}

.fa-solid {
  font-size: 28px;
  color: #3d4935;
  margin-right: 14px;
}

.fa-solid:hover {
  color: #949c81;
}

.fa-brands:hover {
  color: #949c81;
}

.footer-2 {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
}
